.container {
  .companies-section {
    margin: 72px 32px;
    padding: 72px 95px;
    border-radius: 50px;
    width: 95%;
    display: flex;
    align-items: center;
    background-color: var(--primary-color-700);
    max-width: var(--lg-breakpoint);
    gap: 45px;
    justify-content: center;

    .companies-info {
      display: flex;
      flex-direction: column;
      gap: 16px;
      width: fit-content;
      flex: 1;
      max-width: 457px;

      .companies-title {
        color: var(--text-color-50);
        font-size: var(--xl-font-size);
        font-weight: var(--md-weight);
        line-height: var(--xl-line-height);
      }

      .companies-text {
        color: var(--text-color-50);
        font-size: var(--base-font-size);
        font-weight: var(--thin-weight);
        line-height: var(--base-line-height);
      }

      .companies-list {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;

        .company {
          border-radius: 20px;
          width: 91px;
          height: 90px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: var(--text-color-50);

          .company-logo {
            width: 70px;
            height: auto;
            border-radius: 50%;
          }
        }
      }
      .vacancy-number {
        text-align: center;
        font-size: var(--md-font-size);
        font-weight: var(--thin-weight);
        line-height: var(--md-line-height);
        color: var(--text-color-50);

        strong {
          color: var(--text-color-50);
        }
      }
    }
  }
}
