@media (max-width: 950px) {
  .header {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 16px;
  }
  .container {
    .hero {
      padding: 16px;

      .hero-info {
        .hero-title {
          font-size: var(--xl-font-size);
          line-height: var(--xl-line-height);
        }

        .hero-label {
          min-width: auto;
          width: fit-content;
          padding: 5px 10px;

          .search-vacancy {
            width: 50dvw;
            font-size: var(--sm-font-size);
          }
        }
      }
    }

    .companies-section {
      margin: 72px 16px;
      padding: 30px 32px;

      .companies-info {
        .companies-list {
          gap: 15px;

          .company {
            width: 71px;
            height: 70px;

            .company-logo {
              width: 30px;
            }
          }
        }
      }
    }

    .about-section {
      padding: 32px 32px 72px;
    }

    .about-for-candidates {
      .candidates-container {
        flex-wrap: nowrap;
        flex-direction: column;

        .candidates-banner {
          min-width: auto;
        }

        .candidates-info {
          min-width: auto;
        }
      }
    }
  }
}
