@media (max-width: 1200px) {
  .container {
    .feedbacks-section {
      .swiper::after,
      .swiper::before {
        width: 30%;
      }
    }
  }
}

@media (max-width: 1024px) {
  .container {
    .feedbacks-section {
      .swiper::after,
      .swiper::before {
        width: 35%;
      }
    }
  }
}

@media (max-width: 950px) {
  .header {
    flex-direction: column;
  }

  .footer {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 60px 40px;

    .footer-links-container {
      width: 100%;
      gap: 20px;
    }
  }
}

@media (max-width: 768px) {
  .header {
    padding: 16px;
  }

  .container {
    .hero {
      padding: 16px;
      flex-direction: column;
      align-items: center;
      flex-wrap: nowrap;

      .hero-info {
        min-width: auto;

        .hero-title {
          font-size: var(--xl-font-size);
          line-height: var(--xl-line-height);
        }

        .hero-label {
          min-width: auto;
          width: fit-content;
          padding: 5px 10px;

          .search-vacancy {
            width: 50dvw;
            font-size: var(--sm-font-size);
          }
        }
      }

      .hero-image-container {
        min-width: auto;
      }
    }

    .companies-section {
      margin: 72px 16px;
      padding: 30px 32px;
      flex-direction: column;
      width: 95%;

      .companies-info {
        .companies-list {
          gap: 15px;

          .company {
            width: 71px;
            height: 70px;

            .company-logo {
              width: 30px;
            }
          }
        }
      }
    }

    .about-section {
      padding: 32px 32px 72px;

      .about-container {
        flex-wrap: nowrap;
        flex-direction: column;
      }
    }

    .about-for-candidates {
      .candidates-container {
        flex-wrap: nowrap;
        flex-direction: column;

        .candidates-banner {
          min-width: auto;
        }

        .candidates-info {
          min-width: auto;
        }
      }
    }

    .about-for-companies {
      flex-direction: column;
      flex-wrap: nowrap;

      .companies-info {
        order: 2;
        align-items: end;
        min-width: auto;

        .companies-title,
        .companies-text {
          text-align: end;
        }
      }

      .companies-banner {
        order: 1;
        min-width: auto;
      }
    }

    .partners-section {
      padding: 60px 40px;
      .partners-container {
        .partners-list {
          column-gap: 50px;
          row-gap: 40px;
        }
      }
    }

    .faqs-section {
      padding: 60px 40px;

      flex-direction: column;
    }

    .featured-vacancies {
      flex-direction: column;
      padding: 40px;

      .featured-vacancies-title {
        text-align: center;
      }

      .tags {
        border-left: none;
        border-top: 1px solid var(--primary-color-300);
        padding-top: 40px;
        justify-content: center;
      }
    }

    .feedbacks-section {
      .swiper::after,
      .swiper::before {
        display: none;
      }
    }
  }
}

@media (max-width: 480px) {
  .footer {
    .footer-links-container {
      flex-direction: column;
      flex: 1;
      gap: 40px;

      .footer-links {
        text-align: center;
      }
    }
  }
}
