body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  padding: 32px;
  max-width: var(--lg-breakpoint);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 25px;
  column-gap: 10px;

  .logo-container {
    display: flex;
    align-items: center;
    gap: 18px;

    .logo-image {
      border-radius: 50%;
      filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.2));
      height: 65px;
    }

    .logo-title {
      font-size: var(--base-font-size);
      font-weight: var(--bold-weight);
      white-space: nowrap;
    }
  }

  .nav-bar {
    display: flex;
    align-items: center;
    column-gap: 33.5px;
    row-gap: 25px;
    justify-content: center;
    flex-wrap: wrap;

    .nav-links {
      display: flex;
      column-gap: 50px;
      row-gap: 25px;

      font-weight: var(--md-weight);
      font-size: var(--xs-font-size);
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;

      .nav-item {
        cursor: pointer;
        .link {
          color: var(--text-color-950);
          transition-duration: 0.3s;
          white-space: nowrap;
        }
      }

      .nav-item:first-child {
        .link {
          color: var(--primary-color-800);
        }
      }

      .nav-item:hover {
        .link {
          filter: drop-shadow(0 0 5px var(--primary-color-700));
        }
      }
    }

    .nav-buttons {
      display: flex;
      row-gap: 10px;
      column-gap: 25px;
      font-weight: var(--md-weight);
      font-size: var(--xs-font-size);
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;

      .nav-item {
        cursor: pointer;

        .nav-button {
          padding: 16px 32px;
          border: solid 2px var(--primary-color-800);
          border-radius: 50px;
          background: none;
          font-weight: var(--md-weight);
          cursor: pointer;
          transition-duration: 0.3s;
        }

        .nav-button:hover {
          box-shadow: 0 0 5px var(--primary-color-700);
        }

        .login {
          color: var(--primary-color-800);
        }

        .register {
          background-color: var(--primary-color-800);
          color: var(--text-color-50);
        }
      }
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .hero {
    width: 100%;
    padding: 32px;
    position: relative;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 25px;

    .hero-info {
      flex: 1;
      max-width: 545px;
      min-width: 400px;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 16px;
      z-index: 1;

      .hero-title {
        font-size: var(--giant-font-size);
        font-weight: var(--bold-weight);
        line-height: var(--giant-line-height);
      }

      .hero-text {
        font-size: var(--base-font-size);
        font-weight: var(--thin-weight);
        line-height: var(--base-line-height);
      }

      .hero-label {
        padding: 10px 20px;
        border: solid 2px var(--primary-color-800);
        border-radius: 10px;
        width: fit-content;
        display: flex;
        gap: 5px;
        background-color: var(--text-color-50);

        .search-vacancy {
          font-size: var(--base-font-size);
          font-weight: var(--thin-weight);
          line-height: var(--base-line-height);
          color: var(--primary-color-800);
          flex: 1;
          width: 100%;
        }

        .search-vacancy::placeholder {
          color: var(--primary-color-800);
        }

        .search-vacancy-button {
          padding: 15.5px 32px;
          border-radius: 10px;
          background-color: var(--primary-color-900);
          color: var(--text-color-50);
          font-size: var(--xs-font-size);
          font-weight: var(--bold-weight);
          width: fit-content;
        }
      }
    }

    .hero-image-container {
      flex: 1;
      min-width: 400px;
      width: 100%;
      max-width: 579px;
      z-index: 1;

      .hero-image {
        width: auto;
      }
    }

    .hero-border {
      position: absolute;
      z-index: 0;
      bottom: -60px;
      width: 100dvw;
      height: 600px;
    }
  }

  .companies-section {
    margin: 72px 32px;
    padding: 72px 95px;
    border-radius: 50px;
    width: fit-content;
    display: flex;
    align-items: center;
    background-color: var(--primary-color-700);
    max-width: var(--lg-breakpoint);
    gap: 45px;
    flex-wrap: wrap;
    justify-content: center;

    .companies-info {
      display: flex;
      flex-direction: column;
      gap: 16px;
      width: fit-content;
      flex: 1;
      max-width: 457px;
      min-width: 300px;

      .companies-title {
        color: var(--text-color-50);
        font-size: var(--xl-font-size);
        font-weight: var(--md-weight);
        line-height: var(--xl-line-height);
      }

      .companies-text {
        color: var(--text-color-50);
        font-size: var(--base-font-size);
        font-weight: var(--thin-weight);
        line-height: var(--base-line-height);
      }

      .companies-list {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;

        .company {
          border-radius: 20px;
          width: 91px;
          height: 90px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: var(--text-color-50);

          .company-logo {
            width: 40px;
            height: auto;
          }
        }
      }
      .vacancy-number {
        text-align: center;
        font-size: var(--md-font-size);
        font-weight: var(--thin-weight);
        line-height: var(--md-line-height);
        color: var(--text-color-50);

        strong {
          color: var(--text-color-50);
        }
      }
    }
  }

  .about-section {
    .about-title {
    }
    .about-info {
      .about-text {
      }
      .about-button {
      }
    }
  }

  .about-for-candidates {
    .candidates-banner {
      .candidates-title {
        .candidates-title-hightlight {
        }
      }
    }
    .candidates-info {
      .candidates-text {
        .highlight {
        }
        .highlighted-word {
        }
      }
      .candidates-button {
      }
    }
  }

  .about-for-companies {
    .companies-info {
      .companies-text {
        .highlight {
        }
      }
      .companies-button {
      }
    }
    .companies-banner {
      .companies-title {
        .companies-title-hightlight {
        }
      }
    }
  }

  .partners-section {
    .partners-title {
    }
    .partners-text {
    }
    .partners-list {
      .partner {
        .partner-image {
        }
      }
    }
  }

  .faqs-section {
    .faqs-image {
    }
    .faqs-info {
      .faqs-title {
      }
      .faqs {
        .faq {
          .faq-data {
            .open-answer-button {
              .question {
              }
              .plus-icon {
              }
            }
            .anwser {
            }
          }
        }
      }
    }
  }

  .featured-vacancies {
    .featured-vacancies-title {
    }
    .tags {
      .tag {
        .tag-text {
        }
      }
    }
  }

  .feedbacks-section {
    .feedbacks-title {
    }
    .feedbacks-carousel {
      .feedback {
        .feedback-header {
          .avatar {
          }
          .author-info {
            .feedback-author {
            }
            .author-position {
            }
          }
        }
        .feedback-text {
        }
        .linkedin {
          .linkedin-icon {
          }
        }
      }
    }
    .feedback-selected-icons {
      .feedback-selected-item {
      }
    }
  }
}

.footer {
  .logo {
    .logo-image {
    }
    .logo-text {
    }
  }
  .footer-links {
    .links-title {
    }
    .links-list {
      .link-item {
        .link {
        }
      }
    }
  }
  .social-media-list {
    .social-media-link {
      .social-media-logo {
      }
    }
  }
}
