:root {
  --text-color-50: #ffffff;
  --text-color-950: #292929;
  --primary-color-50: #CDBCF6;
  --primary-color-300: #cdbcf6;
  --primary-color-700: #6435bb; 
  --primary-color-800: #563099;
  --primary-color-900: #4c2b84;
  --secondary-color-500: #fecf01;
  --secondary-color-600: #d09800;
}
